FLASK_ENV=development  # production, development or testing
FLASK_DEBUG=1  # 0 or 1
JWT_SECRET_KEY=mysupersecretkey
POSTGRES_PASSWORD=your_password
POSTGRES_USER=your_user
POSTGRES_DB=your_dbname
POSTGRES_PORT=your_port
DATABASE_DRIVER=your_driver
DATABASE_HOST=your_host